*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(21, 20, 34);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: rgb(143 0 28);
    text-align: center;
    padding: 15px;
}

.menu-hamb{
    position: absolute;
    top: 5.4rem;
    right: 1rem;
    cursor: pointer;
    filter: invert(1);
}

.main-menu{
    list-style-type: none;
    font: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

    .main-menu__item{
    padding: 1em;
    }


a{
    text-decoration: none;
    color: aliceblue;
}

.main-menu__item:hover{
    transform: scale(1.15);
    transition-property: all;
    transition-duration: 0.35s;
}

.anana-title{
    background-color: #640b0b;
    color: rgb(199, 168, 45);
    padding: 15px;
    margin: 0px;
    text-align: center;
}

img.grande{
    width: 250px;
    height: 250px;
    padding: 15px;
}

p{
    padding: 30px;
}

h2, h3{ 
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 10px;
    color: aliceblue;
}

.imagenesindex{
    padding: 30px;
    margin: 2px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.iconosdos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    background-color: #ffa4a4;
    margin-top: 25px;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

.imagenesindex{
    grid-area: imgindex;
}

footer{
    grid-area:footer;
}

@media (min-width: 500px){
    .imagenesindex{
        padding: 0%;
        display: grid;
        gap: 0px;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header     header"
        "nav        nav"
        "imgindex   imgindex"
        "footer     footer";
    }
}

@media (min-width:768px){
    .imagenesindex{
        margin-top: 25px;
        padding: 0%;
        display: grid;
        gap: 0px;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "header     header      header"
        "nav        nav         nav"
        "imgindex   imgindex    imgindex"
        "footer     footer      footer";
    }

    .main-menu{
        flex-direction: row;
    }

    .menu-hamb{
        display: none;
    }

    footer{
        margin-top: 125px;
    }
}